.card.master {
  max-width: none;
  width: 700px;
  height: 700px;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  border: none;
}

.weatherInfo {
  max-width: 600px;
  position: relative;
  top: 200px;
  left: 30px;
  padding: 0 10px;
}

.city {
  margin-left: 30px;
  padding-top: 20px;
  color: #759be0;
  text-shadow: 1px 5px 12px rgba(122, 122, 127, 1);
  color: #759be0;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
  font-size: 12px;
  font-family: "Inconsolata", monospace;
  text-shadow: 1px 5px 12px rgba(122, 122, 127, 1);
  text-transform: capitalize;
}

.temperature {
  margin-left: 10px;
  font-size: 80px;
  font-family: "Montserrat", sans-serif;
  text-shadow: 1px 5px 12px rgba(122, 122, 127, 1);
}

.units {
  position: relative;
  top: 25px;
  font-family: "Montserrat", sans-serif;
  text-shadow: 1px 5px 12px rgba(122, 122, 127, 1);
}

#celsius-link {
  text-decoration: none;
  color: black;
}
#fahrenheit-link {
  text-decoration: none;
  color: #759be0;
}

.row.btn-forecast {
  position: relative;
  left: 330px;
}
.btn.btn-primary.forecast {
  border: transparent;
  color: black;
  background-color: rgba(250, 235, 215, 0.137);
  font-size: 20px;
  font-family: "Caveat", cursive;
  text-shadow: 1px 5px 12px rgba(122, 122, 127, 1);
  transition: all 2ms ease-in-out;
}

.btn.btn-primary.forecast:hover {
  background-color: #759be0;
  color: antiquewhite;
}
.card.card-body {
  background-color: #759be0;
  width: 600px;
  height: 150px;
  position: relative;
  right: 350px;
  bottom: 10px;
}

.searchEngine {
  position: absolute;
  top: 150px;
  left: 140px;
  width: 400px;
  z-index: 0;
}
.form-control {
  box-shadow: 1px 16px 43px 11px rgba(0, 0, 0, 0.2);
}

.form-control::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #759be0;
}
.btn.btn-primary.mb-3 {
  background-color: #759be0;
  border: #759be0;
  color: antiquewhite;
  box-shadow: 1px 16px 43px 11px rgba(0, 0, 0, 0.2);
  transition: all 2ms ease-in-out;
}
.btn.btn-primary.mb-3:hover {
  background-color: antiquewhite;
  border: 1px solid #759be0;
  color: #759be0;
}

.geoLocButton {
  border: none;
  color: #759be0;
  font-size: 1rem;
  border-radius: 0.25rem;
  background-color: antiquewhite;
  border: antiquewhite;
  padding: 0.42rem 0.75rem;
  position: relative;
  right: 5px;
  box-shadow: 1px 16px 43px 11px rgba(0, 0, 0, 0.2);
  transition: all 2ms ease-in-out;
}

.geoLocButton:hover {
  background-color: #759be0;
  color: antiquewhite;
}

footer {
  display: block;
  margin: 0 auto;
  text-align: center;
  opacity: 0.6;
  padding: 10px;
}

.git-link {
  text-decoration: none;
  color: #1e78b1;
}
